<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md w-full p-6 space-y-8 bg-white shadow-md rounded-lg">
      <ng-container *ngIf="step === 1">
        <h2 class="text-xl font-semibold">Forgot Password</h2>
        <form class="space-y-4" (ngSubmit)="sendResetPasswordEmail()">
          <div>
            <label for="email" class="block">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required
              class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
          </div>
          <button type="submit"
            class="w-full py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
            Send OTP
          </button>
        </form>
      </ng-container>
  
      <ng-container *ngIf="step === 2">
        <h2 class="text-xl font-semibold">Verify OTP</h2>
        <form class="space-y-4" (ngSubmit)="verifyOTP()">
          <div>
            <label for="otp" class="block">Enter OTP:</label>
            <input type="text" id="otp" name="otp" [(ngModel)]="otp" required
              class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
          </div>
          <button type="submit"
            class="w-full py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
            Verify OTP
          </button>
        </form>
      </ng-container>
  
      <ng-container *ngIf="step === 3">
        <h2 class="text-xl font-semibold">Set New Password</h2>
        <form class="space-y-4" (ngSubmit)="setNewPassword()">
          <div>
            <label for="newPassword" class="block">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required
              class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
          </div>
          <div>
            <label for="confirmPassword" class="block">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required
              class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
          </div>
          <button type="submit"
            [disabled]="!passwordsMatch()"
            class="w-full py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
            Set New Password
          </button>
          <div *ngIf="!passwordsMatch()" class="text-red-500">Passwords do not match.</div>
        </form>
      </ng-container>
      
    </div>
  </div>
  