<div
  class="container mx-auto mt-5 flex items-center justify-center h-96 rounded-md bg-gradient-to-b from-blue-100 to-blue-300 text-white"
>
  <div class="text-center">
    <h1 class="text-4xl font-bold text-gray-600 mb-4">
      Welcome to Job Tracker
    </h1>
    <p class="text-lg text-gray-500 mb-8">
      Simplify your job search with our powerful tracking tool.
    </p>
    <a
      routerLink="register"
      class="bg-indigo-700 hover:bg-indigo-900 text-white font-bold py-3 px-6 rounded"
      >Get Started</a
    >
  </div>
</div>


<section class="bg-gray-100 py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-8">Key Features</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="bg-white rounded-lg p-6">
        <h3 class="text-2xl font-bold mb-4 text-indigo-600">
          Easy Application Tracking
        </h3>
        <p>
          Effortlessly track all your job applications in one place, including
          application status, interview dates, and company information.
        </p>
      </div>
      <div class="bg-white rounded-lg p-6">
        <h3 class="text-2xl font-bold mb-4 text-indigo-600">
          Customizable Reminders
        </h3>
        <p>
          Set reminders for application deadlines, interviews, and follow-ups to
          stay organized and never miss an opportunity.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-200 p-16 mb-16">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-8 text-indigo-600">
      Why Choose Job Tracker App?
    </h2>
    <p class="text-lg mb-6 text-center">
      With our app, you can say goodbye to the hassle of managing job
      applications using spreadsheets or documents. Leverage our intuitive job
      tracker to maximize your job search efficiency and stay on top of your
      applications.
    </p>
    <p class="text-lg text-center">
      Start using Job Tracker App today and take control of your job hunting
      journey!
    </p>
  </div>
</section>

<router-outlet></router-outlet>
