<div class="min-h-screen flex flex-col items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full bg-white p-8 rounded-md shadow-md">
    <h2 class="text-3xl font-extrabold text-center text-gray-900 mb-6">Sign in to your account</h2>
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email" class="sr-only">Email address</label>
        <input id="email" name="email" type="email" autocomplete="email" required formControlName="email"
          class="appearance-none rounded-md w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Email address">
        <!-- Required 1 -->
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
              class="text-red-500 text-sm mt-1">Please enter a valid email.</div>
          

      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <input id="password" name="password" type="password" autocomplete="current-password" required
          formControlName="password"
          class="appearance-none rounded-md w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Password">
        <!-- Required 2 -->
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
              class="text-red-500 text-sm mt-1">Please enter a valid password with at least 6 characters.</div>

      </div>
      
        <a routerLink="/forgotpassword" class="text-sm text-indigo-600 hover:text-indigo-400">Forgot Password?</a>
      
      <button type="submit"
        [disabled]="loginForm.invalid"
        class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Sign in
      </button>
      <div *ngIf="errorMessage" class="text-red-500 text-sm mt-1">{{ errorMessage }}</div>
    </form>
    <div class="mt-4 text-sm text-gray-600">
      Don't have an account? 
      <a routerLink="/register" class="font-medium text-indigo-600 hover:text-indigo-500">Register here</a>
    </div>
    
  </div>
</div>
