<footer class="bg-gray-800 text-white p-4">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-center md:justify-between"
  >
    <div
      class="flex flex-col items-center md:flex-row md:items-start md:space-x-2 md:mb-0"
    >
      <p class="text-sm md:text-left">Stay connected with us:</p>
      <div class="flex items-center justify-center md:justify-start space-x-2">
        <a
          href="#"
          class="text-white hover:text-gray-300 transition duration-300"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="#"
          class="text-white hover:text-gray-300 transition duration-300"
        >
          <i class="fab fa-facebook"></i>
        </a>
        <a
          href="#"
          class="text-white hover:text-gray-300 transition duration-300"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="flex flex-col items-center md:flex-row md:items-center md:mb-0">
      <p class="text-sm md:mx-4">
        &copy; 2024 Job Tracker App. All rights reserved.
      </p>
      <div class="flex flex-col items-center md:flex-row md:items-center">
        <a
          href="#"
          class="text-xs text-white hover:text-gray-300 transition duration-300"
        >
          Privacy Policy
        </a>
        <a
          href="#"
          class="text-xs text-white hover:text-gray-300 transition duration-300 ml-4"
        >
          Terms of Use
        </a>
      </div>
    </div>
  </div>
</footer>
